#etch-board {
    display: flex;
    flex-direction: column;
}

.etch-row {
    display: flex;
    flex-direction: row;
}

.etch-square {
    border: 1px solid black;
    height: 75px;
    width: 75px;
}

.etch-square-covered {
    background: black;
}