#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#etch-board {
    display: flex;
    flex-direction: column;
}

.etch-row {
    display: flex;
    flex-direction: row;
}

.etch-square {
    border: 1px solid black;
}

.etch-square-covered {
    background: black;
}

.controls {
    margin: 25px 0;
}